/* styles.css */



/* Overall styling */
body {
    background-color: #0d1d31;
    /* background-color: #57C5B6;  */
    color: white;
    /* color: #820000;    */
    /* color: #1A5F7A;   meanings*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



/* Heading styles */
h1, h2 {
    /* color: #333; */
    /* color:  #EA1179;  */
    color: #0081B4;
    color:  #146C94;     /* welcome to word finder */
    text-align: center;
}

/* Audio player */
audio {
    display: block;
    margin: 10px 0;
}

/* Part of speech section */
h2 {
    /* color: #1500ff;  */
    color: white;
    font-size: 24px;
    margin-top: 20px;
    font-style: bold;
    font-weight: bolder;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Form styling */

form {
    margin: auto;
    margin-top: 20px;
    padding: 100px;
    /* background-color: #f4f4f4; */
    background-color: rgb(0, 183, 255);
    border: 15px solid white;
    /* width: 400px; */
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 30vh;                                  /* box height*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

input[type="text"] {
    width: 100%;  /*100% */                         /* box width*/
    padding: 0.5rem 0.75rem;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 250px;
    box-sizing: border-box;
    border-color: black;
}

/* submit button- click here */
input[type="submit"] {
    /* background-color: #007bff; */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for centering the image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh; /* Set the height of the container */
}

.center-image {
    max-width: 100%;
    height: auto;
}

/* Custom button style */
/* click here to go back button */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container_abc {
  /* background-color: black; */
  width: 50%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* background: #070707; */
  margin: auto;
}

.button {
  position: relative;
  left: 100px;
  right: 0px;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.button:hover span:nth-child(2) {
  top: 50%;
}

.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.button:hover span:nth-child(4 ) {
  bottom: 50%;
}


.heading {
  /* background-color: black; */
  width: 50%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* background: #070707; */
  margin: auto;
}

.headingbutton {
  position: relative;
  left: 100px;
  right: 0px;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.headingbutton:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.headingbutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.headingbutton:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.headingbutton span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.headingbutton:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.headingbutton span:nth-child(1),
.headingbutton span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.headingbutton:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.headingbutton span:nth-child(2),
.headingbutton span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.headingbutton:hover span:nth-child(1),
.headingbutton:hover span:nth-child(3) {
  transform: translateY(0);
}

.headingbutton span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.headingbutton:hover span:nth-child(1) {
  left: 50%;
}

.headingbutton span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.headingbutton:hover span:nth-child(3) {
  right: 50%;
}

.headingbutton span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.headingbutton:hover span:nth-child(2) {
  top: 50%;
}

.headingbutton span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.headingbutton:hover span:nth-child(4 ) {
  bottom: 50%;
}

