<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="styles1.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"  -->
        <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <title>Meaning</title>
        <link rel="stylesheet" href="./static/styles1.css">
        <style>
          /* Add some spacing between the margins and text */
          h2 {
              margin-top: 30px;
              text-align: left;
          }
          
          ul {
              padding-left: 20px;
          }
          
          li {
              margin-bottom: 5px;
          }
      </style>

    </head>
    <body>
        <!-- <div class="container"></div> -->
        <div class="heading">
        <h1 class="btn headingbutton" style="--color:#1e9bff;"><u>The word provided is: {{word_to_send}}</u></h1>
        </div>
        <div class="container"></div>
        <h2 >The audio pronounciationof the word: </h2>
        <audio controls>
            <source src="{{audio}}" type="audio/mpeg">
        </audio>
        

        {% for pos in partofspeech %}
        <h2>Part of Speech: {{ pos }}</h2>
        <br>
        <h3>Definitions: </h3>
        <ul>
            {% for meaning in meanings_by_pos[pos] %}
                <li>{{ loop.index }}.{{ meaning }}</li>
            {% endfor %}
        </ul>
       
        {% endfor %}
    </div>
    <br>
    <br>
    </body>
    <!-- <a href="{{ url_for('home') }}" class="btn custom-button">Go back to enter another word</a> -->
    <div class="container_abc">
        <a href="{{ url_for('home') }}" class="btn button" href="#" style="--color:#1e9bff;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Go back to enter another word
        </a>
      </div>
    
</html>


<!-- {% for meaning in meanings_by_pos[pos] %}
                <td>{{meanings_by_pos["noun"][meaning]}}</td>
            {% endfor %} -->
            
            <!-- <td>Mark</td> -->
            <!-- <td>{{meanings_by_pos["noun"]}}</td> -->




 <!-- <table class="table">
        <thead>
          <tr>
            <th scope="row">#</th>
            <th scope="row">Noun</th>
            <th scope="row">Verb</th>
            <th scope="row">Adjective</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">1</th>
            {% for pos in partofspeech %}
            <h2>Part of Speech: {{ pos }}</h2>
                {% for meaning in meanings_by_pos[pos] %}
                    <td colspan="len(meanings_by_pos[pos])">{{ meaning }}</td>
                {% endfor %}
            {% endfor %}
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="col">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="col">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> -->

 <!--
        <ul>
            {% for j in partofspeech %}
            <li>{{j}}</li>
            {% endfor %}
            {% for i in meaning %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
         <h3>The part of speech: </h3>
        <ul>
            {% for j in partofspeech %}
            <li>{{j}}</li>
            {% endfor %}
        </ul> -->