{% extends "base.html" %}
{% block title %} Login Page {% endblock %} 
{% block content %}
<link rel="stylesheet" href="./static/styles1.css">
<body>
<!-- <div class="centered-box"></div> -->
<form action="#", method="post">
    <p><h2>Enter word to check:</h2></p>
    <br>
    <input type="text", name="word" />
    <p><br><input type="submit", name="submit", value="click here "/></p>
</form>
<!-- </div> -->
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
  </div>
<div class="image-container">
    <img src="/images/dictionary.jpg" alt="Image" class="center-image">
</div>
{% endblock %}




