{% extends "base.html" %}
{% block title %} Login Page {% endblock %} 
{% block content %}
<link rel="stylesheet" href="./static/styles1.css">
<div class="centered-box"></div>
<form action="#", method="post">
    <p><h2>Enter word to check:</h2></p>
    <input type="text", name="word" />
    <p><input type="submit", name="submit", value="click here "/></p>
</form>
</div>
<div class="image-container">
    <img src="/images/dictionary.jpg" alt="Image" class="center-image">
</div>
{% endblock %}




